*,
::before,
::after {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: Gordita, sans-serif;
    color: var(--text-color);
}
a {
    text-decoration: none;
    color: inherit;
}
a,
input,
button,
textarea,
select {
    font-size: inherit;
    font-family: inherit;
    border: none;
    outline: none;
    color: inherit;
    background: transparent;
}
.icon {
    filter: var(--icon-color);
}
